<p>
 Streetgrep is a place to view, share, comment on, and classify pictures of
 street art.
</p>

<ul>
 <li><a href="/profile">Your Profile</a></li>
 <li><a href="/users">Users</a></li>
 <li><a href="/photos">Photos</a></li>
</ul>

<p>Login with:</p>

<ul>
 <li><a href="/auth/singly?service=facebook">Facebook</a></li>
 <li><a href="/auth/singly?service=instagram">Instagram</a></li>
</ul>
