<p>Streetgrep is a place to view, share, and comment on pictures of street art.</p>

<ul>
 <li><a href="/profile">Your Profile</a></li>
 <li><a href="/users">Users</a></li>
 <li><a href="/photos">Photos</a></li>
</ul>

<p>Login with:</p>

<ul>
 <li><%- authorizationLink('facebook', 'Facebook') %></li>
 <li><%- authorizationLink('instagram', 'Instagram') %></li>
</ul>
