<h2>Login with:</h2>

<ul>
 <li><a href="/auth/singly?service=facebook">Facebook</a></li>
 <li><a href="/auth/singly?service=flickr">Flickr</a></li>
 <li><a href="/auth/singly?service=foursquare">Foursquare</a></li>
 <li><a href="/auth/singly?service=instagram">Instagram</a></li>
 <li><a href="/auth/singly?service=picasa">Picasa/Google+</a></li>
 <li><a href="/auth/singly?service=twitter">Twitter</a></li>
</ul>
